<!DOCTYPE html>
<html>

<head>
    <title>Like Post App</title>
</head>

<body>
    <p id="message"></p>
    {% for post in posts %}
    <h3>{{ forloop.counter }}) {{ post.post_heading }}</h3>
    <p>{{ post.post_text }} </p>
    <a class="likebutton" id="like{{post.id}}" href="#" data-catid="{{ post.id }}">Like</a>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $('.likebutton').click(function () {
            var catid;
            catid = $(this).attr("data-catid");
            $.ajax({
                type: "GET", //使用GET方法发送数据
                url: "/likepost", //发送到url名为likepost的路径，由该路径绑定的views方法接收数据
                data: {
                    post_id: catid //发送的数据为post_id, post_id的取值为前行代码所赋值
                },
                success: function (data) { //client接收到server的数据之后，执行该方法。 此处的参数data为server返回的数据
                    $('#like' + catid).remove();
                    $('#message').text(data);
                }
            })
        });
    </script>
</body>

</html>